/****** Object:  Database [MVC]    Script Date: 14-04-2026 22:46:44 ******/
CREATE DATABASE [MVC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MVC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MVC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Table [dbo].[Certification]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[CertificationName] [nvarchar](100) NULL,
	[IssuedBy] [nvarchar](100) NULL,
	[Year] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Certifications]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Certifications](
	[CertificationId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[CertificationName] [nvarchar](100) NULL,
	[IssuingOrganization] [nvarchar](100) NULL,
	[Years] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CertificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[Degree] [nvarchar](100) NULL,
	[Institution] [nvarchar](100) NULL,
	[GraduationYear] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[EducationId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[Degree] [nvarchar](100) NULL,
	[Major] [nvarchar](100) NULL,
	[SchoolName] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[GraduationYear] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hobbies]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hobbies](
	[HobbyId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[HobbyName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HobbyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[LanguageName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[ProjectName] [nvarchar](100) NULL,
	[ProjectDescription] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[ProjectTitle] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Role] [nvarchar](100) NULL,
	[Outcome] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resume]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resume](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [nvarchar](20) NULL,
	[LinkedIn] [nvarchar](100) NULL,
	[GitHub] [nvarchar](100) NULL,
	[ProfessionalSummary] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resumes]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resumes](
	[ResumeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[ProfessionalSummary] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResumeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SignIn]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SignIn](
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skill]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[SkillName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[SkillName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentApplications]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentApplications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NOT NULL,
	[Course] [nvarchar](100) NOT NULL,
	[PhotoPath] [nvarchar](max) NULL,
	[ResumePath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRegistrations]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRegistrations](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[PhoneNumber] [nvarchar](15) NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[State] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[ConfirmPassword] [nvarchar](255) NOT NULL,
	[Role] [varchar](6) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperience]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[JobTitle] [nvarchar](100) NULL,
	[Company] [nvarchar](100) NULL,
	[Location] [nvarchar](100) NULL,
	[Years] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperiences]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperiences](
	[ExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[ResumeId] [int] NULL,
	[JobTitle] [nvarchar](100) NULL,
	[CompanyName] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[State] [nvarchar](100) NULL,
	[StartDate] [nvarchar](100) NULL,
	[EndDate] [nvarchar](100) NULL,
	[Responsibilities] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Certification] ON 

INSERT [dbo].[Certification] ([Id], [ResumeId], [CertificationName], [IssuedBy], [Year]) VALUES (33, 50, N'Azure tech', N'Qtree', N'2018')
INSERT [dbo].[Certification] ([Id], [ResumeId], [CertificationName], [IssuedBy], [Year]) VALUES (34, 51, N'Azure', N'Qtree', N'2024')
INSERT [dbo].[Certification] ([Id], [ResumeId], [CertificationName], [IssuedBy], [Year]) VALUES (35, 53, N'FullStack', N'Qtree', N'2024')
SET IDENTITY_INSERT [dbo].[Certification] OFF
GO
SET IDENTITY_INSERT [dbo].[Certifications] ON 

INSERT [dbo].[Certifications] ([CertificationId], [ResumeId], [CertificationName], [IssuingOrganization], [Years]) VALUES (10, 26, N'FullStack', N'Qtree', 2)
INSERT [dbo].[Certifications] ([CertificationId], [ResumeId], [CertificationName], [IssuingOrganization], [Years]) VALUES (11, 27, N'FullStack', N'Qtree', 2)
INSERT [dbo].[Certifications] ([CertificationId], [ResumeId], [CertificationName], [IssuingOrganization], [Years]) VALUES (14, 33, N'FullStack', N'Qtree', 2)
SET IDENTITY_INSERT [dbo].[Certifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([Id], [ResumeId], [Degree], [Institution], [GraduationYear]) VALUES (34, 50, N'Computer science', N'Bannari Amman', N'2020')
INSERT [dbo].[Education] ([Id], [ResumeId], [Degree], [Institution], [GraduationYear]) VALUES (35, 51, N'Computer science', N'sri krishna', N'2024')
INSERT [dbo].[Education] ([Id], [ResumeId], [Degree], [Institution], [GraduationYear]) VALUES (36, 53, N'Computer science', N'sri krishna', N'2024')
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[Educations] ON 

INSERT [dbo].[Educations] ([EducationId], [ResumeId], [Degree], [Major], [SchoolName], [City], [State], [GraduationYear]) VALUES (12, 26, N'Computer science', N'Engineering', N'sri krishna', N'coimbatore', N'Tamilnadu', 2023)
INSERT [dbo].[Educations] ([EducationId], [ResumeId], [Degree], [Major], [SchoolName], [City], [State], [GraduationYear]) VALUES (13, 27, N'Computer science', N'QWE', N'QW', N'coimbatore', N'Tamil Nadu', 2024)
INSERT [dbo].[Educations] ([EducationId], [ResumeId], [Degree], [Major], [SchoolName], [City], [State], [GraduationYear]) VALUES (16, 33, N'Computer science', N'Engineering', N'Sri Krishna College of Technology', N'coimbatore', N'Tamil Nadu', 2024)
SET IDENTITY_INSERT [dbo].[Educations] OFF
GO
SET IDENTITY_INSERT [dbo].[Hobbies] ON 

INSERT [dbo].[Hobbies] ([HobbyId], [ResumeId], [HobbyName]) VALUES (8, 26, N'playing')
INSERT [dbo].[Hobbies] ([HobbyId], [ResumeId], [HobbyName]) VALUES (9, 27, N'playing')
INSERT [dbo].[Hobbies] ([HobbyId], [ResumeId], [HobbyName]) VALUES (12, 33, N'playing')
SET IDENTITY_INSERT [dbo].[Hobbies] OFF
GO
SET IDENTITY_INSERT [dbo].[Languages] ON 

INSERT [dbo].[Languages] ([LanguageId], [ResumeId], [LanguageName]) VALUES (8, 26, N'Tamil,english')
INSERT [dbo].[Languages] ([LanguageId], [ResumeId], [LanguageName]) VALUES (9, 27, N'Tamil,english')
INSERT [dbo].[Languages] ([LanguageId], [ResumeId], [LanguageName]) VALUES (12, 33, N'Tamil,english')
SET IDENTITY_INSERT [dbo].[Languages] OFF
GO
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Id], [ResumeId], [ProjectName], [ProjectDescription]) VALUES (44, 50, N'Wikipedia generator', N'Good and Reliable generator')
INSERT [dbo].[Project] ([Id], [ResumeId], [ProjectName], [ProjectDescription]) VALUES (45, 51, N'Resume generator', N'Powerful generator')
INSERT [dbo].[Project] ([Id], [ResumeId], [ProjectName], [ProjectDescription]) VALUES (46, 53, N'Resume generator', N'good generator')
SET IDENTITY_INSERT [dbo].[Project] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ProjectId], [ResumeId], [ProjectTitle], [Description], [Role], [Outcome]) VALUES (7, 26, N'Resume Generator', N'Powerful Generator', N'Frontend', N'Good')
INSERT [dbo].[Projects] ([ProjectId], [ResumeId], [ProjectTitle], [Description], [Role], [Outcome]) VALUES (8, 27, N'Resume Generator', N'Powerful Generator', N'Frontend', N'Good')
INSERT [dbo].[Projects] ([ProjectId], [ResumeId], [ProjectTitle], [Description], [Role], [Outcome]) VALUES (11, 33, N'Resume Generator', N'Powerful generator', N'Frontend', N'Good')
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[Resume] ON 

INSERT [dbo].[Resume] ([Id], [Name], [Email], [Phone], [LinkedIn], [GitHub], [ProfessionalSummary]) VALUES (50, N'RamKumar', N'Ramkumar@gmail.com', N'72000886', N'www.linkedin.com', N'www.github.com', N'Im a Good Learner')
INSERT [dbo].[Resume] ([Id], [Name], [Email], [Phone], [LinkedIn], [GitHub], [ProfessionalSummary]) VALUES (51, N'Ravikumar', N'Ravi@gmail.com', N'72000886', N'www.linkedin.com', N'www.github.com', N'Im a Good Learner')
INSERT [dbo].[Resume] ([Id], [Name], [Email], [Phone], [LinkedIn], [GitHub], [ProfessionalSummary]) VALUES (53, N'faheemaslam', N'faheem@gmail.com', N'9786590781', N'www.linkedin.com', N'www.github.com', N'good')
SET IDENTITY_INSERT [dbo].[Resume] OFF
GO
SET IDENTITY_INSERT [dbo].[Resumes] ON 

INSERT [dbo].[Resumes] ([ResumeId], [Name], [Email], [Phone], [Address], [ProfessionalSummary]) VALUES (26, N'Faheemaslam', N'faheem@gmail.com', N'9786590781', N'28A6 Bharath bhavan road ,Mettupalayam', N'Good worker')
INSERT [dbo].[Resumes] ([ResumeId], [Name], [Email], [Phone], [Address], [ProfessionalSummary]) VALUES (27, N'RamKumar', N'Ravi@gmail.com', N'72000886', N'28A6 Bharath bhavan road ,Mettupalayam', N'Good')
INSERT [dbo].[Resumes] ([ResumeId], [Name], [Email], [Phone], [Address], [ProfessionalSummary]) VALUES (31, N'RamKumar', N'faheem@gmail.com', N'9786590781', N'28A6 Bharath bhavan road ,Mettupalayam', N'Good worker')
SET IDENTITY_INSERT [dbo].[Resumes] OFF
GO
INSERT [dbo].[SignIn] ([Email], [Password]) VALUES (N'faheem@gmail.com', N'faheem')
INSERT [dbo].[SignIn] ([Email], [Password]) VALUES (N'guru@gmail.com', N'guru123')
INSERT [dbo].[SignIn] ([Email], [Password]) VALUES (N'anbu123@gmail.com', N'12345')
GO
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([Id], [ResumeId], [SkillName]) VALUES (35, 50, N'WebDevelopment, C++')
INSERT [dbo].[Skill] ([Id], [ResumeId], [SkillName]) VALUES (36, 51, N'Java, C++')
INSERT [dbo].[Skill] ([Id], [ResumeId], [SkillName]) VALUES (37, 53, N'Java, C++')
SET IDENTITY_INSERT [dbo].[Skill] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [ResumeId], [SkillName]) VALUES (11, 26, N'Html, c++, Java')
INSERT [dbo].[Skills] ([SkillId], [ResumeId], [SkillName]) VALUES (12, 27, N'Html, c++, Java')
INSERT [dbo].[Skills] ([SkillId], [ResumeId], [SkillName]) VALUES (15, 33, N'Html, c++, Java')
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentApplications] ON 

INSERT [dbo].[StudentApplications] ([Id], [Name], [Email], [PhoneNumber], [Course], [PhotoPath], [ResumePath]) VALUES (2, N'ferozshah', N'feroz@gmail.com', N'9786590781', N'computer science and engineering', N'/Content/Photos/CLASYS.jpg', N'/Content/Resumes/2MARKS.pdf')
INSERT [dbo].[StudentApplications] ([Id], [Name], [Email], [PhoneNumber], [Course], [PhotoPath], [ResumePath]) VALUES (4, N'Ganesh', N'Ganesh123@gmail.com', N'9781354789', N'computer science', N'/Content/Photos/CLASYS.jpg', N'/Content/Resumes/2MARKS.pdf')
INSERT [dbo].[StudentApplications] ([Id], [Name], [Email], [PhoneNumber], [Course], [PhotoPath], [ResumePath]) VALUES (5, N'Boss', N'boss@gmail.com', N'9876542135', N'Instrumentation engineering', N'/Content/Photos/CLASYS.jpg', N'/Content/Resumes/2MARKS.pdf')
SET IDENTITY_INSERT [dbo].[StudentApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[UserRegistrations] ON 

INSERT [dbo].[UserRegistrations] ([UserId], [FirstName], [LastName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Address], [State], [City], [Username], [Password], [ConfirmPassword], [Role]) VALUES (1, N'FAHEEM', N'ASLAM M', CAST(N'2002-05-18' AS Date), N'Male', N'9786590781', N'faheem@gmail.com', N'28A6 Bharath bhavan road ,Mettupalayam', N'1', N'1', N'faheem', N'aslam', N'aslam', N'User')
INSERT [dbo].[UserRegistrations] ([UserId], [FirstName], [LastName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Address], [State], [City], [Username], [Password], [ConfirmPassword], [Role]) VALUES (2, N'Ravi', N'Kumar A', CAST(N'2003-04-20' AS Date), N'Male', N'7265412354', N'Ravi@gmail.com', N'28, Ravi nagar ', N'1', N'1', N'RaviKumar', N'kumar', N'kumar', N'Admin')
INSERT [dbo].[UserRegistrations] ([UserId], [FirstName], [LastName], [DateOfBirth], [Gender], [PhoneNumber], [Email], [Address], [State], [City], [Username], [Password], [ConfirmPassword], [Role]) VALUES (3, N'Arun', N'Raj', CAST(N'2002-05-18' AS Date), N'Male', N'987654213', N'Arun@gmail.com', N'28A6 Bharath bhavan road ,Mettupalayam', N'1', N'1', N'Arun', N'arun123', N'arun123', NULL)
SET IDENTITY_INSERT [dbo].[UserRegistrations] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkExperience] ON 

INSERT [dbo].[WorkExperience] ([Id], [ResumeId], [JobTitle], [Company], [Location], [Years]) VALUES (36, 50, N'Data analyst', N'tcs', N'Bangalore', N'2')
INSERT [dbo].[WorkExperience] ([Id], [ResumeId], [JobTitle], [Company], [Location], [Years]) VALUES (37, 51, N'Data analyst', N'tcs', N'pune', N'2')
INSERT [dbo].[WorkExperience] ([Id], [ResumeId], [JobTitle], [Company], [Location], [Years]) VALUES (38, 53, N'Fullstack', N'claysys', N'Coimbatore', N'1')
SET IDENTITY_INSERT [dbo].[WorkExperience] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkExperiences] ON 

INSERT [dbo].[WorkExperiences] ([ExperienceId], [ResumeId], [JobTitle], [CompanyName], [City], [State], [StartDate], [EndDate], [Responsibilities]) VALUES (17, 26, N'Data analyst', N'claysys', N'coimbatore', N'Tamil Nadu', N'19-08-2022', N'20-09-2023', N'Full stack developer')
INSERT [dbo].[WorkExperiences] ([ExperienceId], [ResumeId], [JobTitle], [CompanyName], [City], [State], [StartDate], [EndDate], [Responsibilities]) VALUES (18, 27, N'Data analyst', N'claysys', N'coimbatore', N'Tamil Nadu', N's', N's', N'hardworker')
INSERT [dbo].[WorkExperiences] ([ExperienceId], [ResumeId], [JobTitle], [CompanyName], [City], [State], [StartDate], [EndDate], [Responsibilities]) VALUES (21, 31, N'Fullstack', N'css', N'coimbatore', N'Tamil Nadu', N'19-08-2022', N'20-09-2023', N'Nice worker')
SET IDENTITY_INSERT [dbo].[WorkExperiences] OFF
GO
ALTER TABLE [dbo].[Certification]  WITH CHECK ADD  CONSTRAINT [FK__Certifica__Resum__19DFD96B] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Certification] CHECK CONSTRAINT [FK__Certifica__Resum__19DFD96B]
GO
ALTER TABLE [dbo].[Certifications]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD  CONSTRAINT [FK__Education__Resum__14270015] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Education] CHECK CONSTRAINT [FK__Education__Resum__14270015]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hobbies]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Languages]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK__Project__ResumeI__1CBC4616] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK__Project__ResumeI__1CBC4616]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skill]  WITH CHECK ADD  CONSTRAINT [FK__Skill__ResumeId__17036CC0] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Skill] CHECK CONSTRAINT [FK__Skill__ResumeId__17036CC0]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkExperience]  WITH CHECK ADD  CONSTRAINT [FK__WorkExper__Resum__114A936A] FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resume] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkExperience] CHECK CONSTRAINT [FK__WorkExper__Resum__114A936A]
GO
ALTER TABLE [dbo].[WorkExperiences]  WITH CHECK ADD FOREIGN KEY([ResumeId])
REFERENCES [dbo].[Resumes] ([ResumeId])
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[CreateCertification]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateCertification]
    @ResumeId INT,
    @CertificationName NVARCHAR(100),
    @IssuedBy NVARCHAR(100),
    @Year NVARCHAR(10)
AS
BEGIN
    INSERT INTO Certification (ResumeId, CertificationName, IssuedBy, Year)
    VALUES (@ResumeId, @CertificationName, @IssuedBy, @Year);
END
GO
/****** Object:  StoredProcedure [dbo].[CreateEducation]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateEducation]
    @ResumeId INT,
    @Degree NVARCHAR(100),
    @Institution NVARCHAR(100),
    @GraduationYear NVARCHAR(10)
AS
BEGIN
    INSERT INTO Education (ResumeId, Degree, Institution, GraduationYear)
    VALUES (@ResumeId, @Degree, @Institution, @GraduationYear);
END
GO
/****** Object:  StoredProcedure [dbo].[CreateProject]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateProject]
    @ResumeId INT,
    @ProjectName NVARCHAR(100),
    @ProjectDescription NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Project (ResumeId, ProjectName, ProjectDescription)
    VALUES (@ResumeId, @ProjectName, @ProjectDescription);
END
GO
/****** Object:  StoredProcedure [dbo].[CreateResume]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateResume]
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @LinkedIn NVARCHAR(100),
    @GitHub NVARCHAR(100),
    @ProfessionalSummary NVARCHAR(MAX)
	
AS
BEGIN
    INSERT INTO Resume (Name, Email, Phone, LinkedIn, GitHub, ProfessionalSummary)
    VALUES (@Name, @Email, @Phone, @LinkedIn, @GitHub, @ProfessionalSummary);
	SELECT SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[CreateSkill]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateSkill]
    @ResumeId INT,
    @SkillName NVARCHAR(100)
AS
BEGIN
    INSERT INTO Skill (ResumeId, SkillName)
    VALUES (@ResumeId, @SkillName);
END
GO
/****** Object:  StoredProcedure [dbo].[CreateWorkExperience]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateWorkExperience]
    @ResumeId INT,
    @JobTitle NVARCHAR(100),
    @Company NVARCHAR(100),
    @Location NVARCHAR(100),
    @Years NVARCHAR(50)
AS
BEGIN
    INSERT INTO WorkExperience (ResumeId, JobTitle, Company, Location, Years)
    VALUES (@ResumeId, @JobTitle, @Company, @Location, @Years);
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCertification]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCertification]
    @Id INT
AS
BEGIN
    DELETE FROM Certification WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteCertification2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteCertification2]
    @CertificationId INT
AS
BEGIN
    DELETE FROM Certifications
    WHERE CertificationId = @CertificationId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteEducation]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEducation]
    @Id INT
AS
BEGIN
    DELETE FROM Education WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteEducation2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteEducation2]
    @EducationId INT
AS
BEGIN
    DELETE FROM Educations
    WHERE EducationId = @EducationId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteHobby2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteHobby2]
    @HobbyId INT
AS
BEGIN
    DELETE FROM Hobbies
    WHERE HobbyId = @HobbyId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteLanguage2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLanguage2]
    @LanguageId INT
AS
BEGIN
    DELETE FROM Languages
    WHERE LanguageId = @LanguageId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProject]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProject]
    @Id INT
AS
BEGIN
    DELETE FROM Project WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteProject2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteProject2]
    @ProjectId INT
AS
BEGIN
    DELETE FROM Projects
    WHERE ProjectId = @ProjectId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteResume]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteResume]
    @Id INT
AS
BEGIN
    DELETE FROM Resume WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteResume2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteResume2]
    @ResumeId INT
AS
BEGIN
    DELETE FROM Resumes
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSkill]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSkill]
    @Id INT
AS
BEGIN
    DELETE FROM Skill WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteSkill2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteSkill2]
    @SkillId INT
AS
BEGIN
    DELETE FROM Skills
    WHERE SkillId = @SkillId;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudentApplication]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteStudentApplication]
    @Id INT
AS
BEGIN
    DELETE FROM StudentApplications
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteWorkExperience]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteWorkExperience]
    @Id INT
AS
BEGIN
    DELETE FROM WorkExperience WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteWorkExperience2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteWorkExperience2]
    @ExperienceId INT
AS
BEGIN
    DELETE FROM WorkExperiences
    WHERE ExperienceId = @ExperienceId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCertifications]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCertifications]
AS
BEGIN
    SELECT * FROM Certification;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCertifications2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCertifications2]
AS
BEGIN
	SELECT*FROM Certifications
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllEducations]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllEducations]
AS
BEGIN
    SELECT * FROM Education;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllProjects]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProjects]
AS
BEGIN
    SELECT * FROM Project;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllResumes]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllResumes]
AS
BEGIN
    SELECT * FROM Resume;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllResumes2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllResumes2]
AS
BEGIN
	SELECT*FROM Resumes
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllSkills]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllSkills]
AS
BEGIN
    SELECT * FROM Skill;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllWorkExperiences]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllWorkExperiences]
AS
BEGIN
    SELECT * FROM WorkExperience;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCertifications]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCertifications]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Certification WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetCertificationsByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetCertificationsByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Certifications
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetEducation]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEducation]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Education WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetEducationsByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetEducationsByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Educations
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetHobbiesByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetHobbiesByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Hobbies
    WHERE ResumeId = @ResumeId;
END

GO
/****** Object:  StoredProcedure [dbo].[GetLanguagesByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLanguagesByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Languages
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetProjects]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProjects]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Project WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetProjectsByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProjectsByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Projects
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetResume]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResume]
    @Id INT
AS
BEGIN
    SELECT * FROM Resume WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[GetResumeById]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResumeById]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Resume WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetResumeById2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetResumeById2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Resumes
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSkills]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetSkills]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Skill WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetSkills2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSkills2]
AS
BEGIN
   SELECT*FROM Skills
END
GO
/****** Object:  StoredProcedure [dbo].[GetSkillsByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSkillsByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM Skills
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetStudentApplications]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetStudentApplications]
AS
BEGIN
    SELECT Id, Name, Email, PhoneNumber, Course, PhotoPath, ResumePath
    FROM StudentApplications;
END
GO
/****** Object:  StoredProcedure [dbo].[GetWorkExperience]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWorkExperience]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM WorkExperience WHERE ResumeId = @ResumeId;
END

GO
/****** Object:  StoredProcedure [dbo].[GetWorkExperiencesByResumeId2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWorkExperiencesByResumeId2]
    @ResumeId INT
AS
BEGIN
    SELECT * FROM WorkExperiences
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertCertification2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertCertification2]
    @ResumeId INT,
    @CertificationName NVARCHAR(100),
    @IssuingOrganization NVARCHAR(100),
    @Years INT
AS
BEGIN
    INSERT INTO Certifications (ResumeId, CertificationName, IssuingOrganization, Years)
    VALUES (@ResumeId, @CertificationName, @IssuingOrganization, @Years);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertContactUsMessage]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertContactUsMessage]
    @Name NVARCHAR(100),
    @Email NVARCHAR(255),
    @Subject NVARCHAR(255),
    @Message NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO ContactUsMessages (Name, Email, Subject, Message)
    VALUES (@Name, @Email, @Subject, @Message);
END

GO
/****** Object:  StoredProcedure [dbo].[InsertEducation2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertEducation2]
    @ResumeId INT,
    @Degree NVARCHAR(100),
    @Major NVARCHAR(100),
    @SchoolName NVARCHAR(100),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @GraduationYear INT
AS
BEGIN
    INSERT INTO Educations (ResumeId, Degree, Major, SchoolName, City, State, GraduationYear)
    VALUES (@ResumeId, @Degree, @Major, @SchoolName, @City, @State, @GraduationYear);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertHobby2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertHobby2]
    @ResumeId INT,
    @HobbyName NVARCHAR(100)
AS
BEGIN
    INSERT INTO Hobbies (ResumeId, HobbyName)
    VALUES (@ResumeId, @HobbyName);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertLanguage2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertLanguage2]
    @ResumeId INT,
    @LanguageName NVARCHAR(100)
AS
BEGIN
    INSERT INTO Languages (ResumeId, LanguageName)
    VALUES (@ResumeId, @LanguageName);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertProject2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertProject2]
    @ResumeId INT,
    @ProjectTitle NVARCHAR(100),
    @Description NVARCHAR(MAX),
    @Role NVARCHAR(100),
    @Outcome NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Projects (ResumeId, ProjectTitle, Description, Role, Outcome)
    VALUES (@ResumeId, @ProjectTitle, @Description, @Role, @Outcome);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertResume2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertResume2]
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(255),
    @ProfessionalSummary NVARCHAR(MAX),
	 @ResumeId INT OUTPUT -- Output parameter for the ResumeId
AS
BEGIN
    INSERT INTO Resumes ( Name, Email, Phone, Address, ProfessionalSummary)
    VALUES ( @Name, @Email, @Phone, @Address, @ProfessionalSummary);

	 SET @ResumeId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[InsertSignIn]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSignIn]
    @Email NVARCHAR(50),
    @Password NVARCHAR(255)
AS
BEGIN
    -- Check if email already exists
    IF EXISTS (SELECT 1 FROM SignIn WHERE Email = @Email)
    BEGIN
        RAISERROR('Email already exists', 16, 1);
        RETURN;
    END

    -- Insert new record
    INSERT INTO SignIn (Email, Password)
    VALUES (@Email, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertSkill2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertSkill2]
    @ResumeId INT,
    @SkillName NVARCHAR(100)
AS
BEGIN
    INSERT INTO Skills (ResumeId, SkillName)
    VALUES (@ResumeId, @SkillName);
END
GO
/****** Object:  StoredProcedure [dbo].[InsertWorkExperience2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertWorkExperience2]
    @ResumeId INT,
    @JobTitle NVARCHAR(100),
    @CompanyName NVARCHAR(100),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @StartDate NVARCHAR(100),
    @EndDate NVARCHAR(100),
    @Responsibilities NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO WorkExperiences (ResumeId, JobTitle, CompanyName, City, State, StartDate, EndDate, Responsibilities)
    VALUES (@ResumeId, @JobTitle, @CompanyName, @City, @State, @StartDate, @EndDate, @Responsibilities);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUser]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertUser]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @DateOfBirth DATE,
    @Gender NVARCHAR(10),
    @PhoneNumber NVARCHAR(15),
    @Email NVARCHAR(100),
    @Address NVARCHAR(200),
    @State NVARCHAR(50),
    @City NVARCHAR(50),
    @Username NVARCHAR(50),
    @Password NVARCHAR(256)
AS
BEGIN
    INSERT INTO UserRegistrations (FirstName, LastName, DateOfBirth, Gender, PhoneNumber, Email, Address, State, City, Username, Password)
    VALUES (@FirstName, @LastName, @DateOfBirth, @Gender, @PhoneNumber, @Email, @Address, @State, @City, @Username, @Password)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertUsers]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertUsers]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @DateOfBirth DATE,
    @Gender NVARCHAR(10),
    @PhoneNumber NVARCHAR(15),
    @Email NVARCHAR(100),
    @Address NVARCHAR(200),
    @State NVARCHAR(50),
    @City NVARCHAR(50),
    @Username NVARCHAR(50),
    @Password NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO UserRegistrations (FirstName, LastName, DateOfBirth, Gender, PhoneNumber, Email, Address, State, City, Username, Password)
    VALUES (@FirstName, @LastName, @DateOfBirth, @Gender, @PhoneNumber, @Email, @Address, @State, @City, @Username, @Password);
END
GO
/****** Object:  StoredProcedure [dbo].[spCreateTemplate]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCreateTemplate]
    @Name NVARCHAR(255),
    @HtmlContent NVARCHAR(MAX),
    @CssContent NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO Templates (Name, HtmlContent, CssContent)
    VALUES (@Name, @HtmlContent, @CssContent)
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteTemplate]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDeleteTemplate]
    @Id INT
AS
BEGIN
    DELETE FROM Templates WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[spDeleteUserRegistration]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spDeleteUserRegistration]
    @UserId INT
AS
BEGIN
    DELETE FROM UserRegistrations
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[spGetAllUserRegistrations]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetAllUserRegistrations]
AS
BEGIN
    SELECT * FROM UserRegistrations;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTemplateById]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetTemplateById]
    @Id INT
AS
BEGIN
    SELECT * FROM Templates WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[spGetTemplates]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetTemplates]
AS
BEGIN
    SELECT * FROM Templates
END
GO
/****** Object:  StoredProcedure [dbo].[spGetUserRegistration]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spGetUserRegistration]
    @UserId INT
AS
BEGIN
    SELECT * FROM UserRegistrations
    WHERE UserId = @UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[spGetUserRegistrationByEmail]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spGetUserRegistrationByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT*FROM UserRegistrations
    WHERE 
        Email = @Email;
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertUserRegistration]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spInsertUserRegistration]
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @DateOfBirth DATE,
    @Gender NVARCHAR(10),
    @PhoneNumber NVARCHAR(15) = NULL,
    @Email NVARCHAR(255),
    @Address NVARCHAR(255) = NULL,
    @State NVARCHAR(100) = NULL,
    @City NVARCHAR(100) = NULL,
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @ConfirmPassword NVARCHAR(255)
AS
BEGIN
    INSERT INTO UserRegistrations (
        FirstName, LastName, DateOfBirth, Gender, PhoneNumber, Email,
        Address, State, City, Username, Password, ConfirmPassword
    )
    VALUES (
        @FirstName, @LastName, @DateOfBirth, @Gender, @PhoneNumber, @Email,
        @Address, @State, @City, @Username, @Password, @ConfirmPassword
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[spUpdateTemplate]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateTemplate]
    @Id INT,
    @Name NVARCHAR(255),
    @HtmlContent NVARCHAR(MAX),
    @CssContent NVARCHAR(MAX)
AS
BEGIN
    UPDATE Templates
    SET Name = @Name, HtmlContent = @HtmlContent, CssContent = @CssContent
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[spUpdateUserRegistration]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spUpdateUserRegistration]
    @UserId INT,
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @DateOfBirth DATE,
    @Gender NVARCHAR(10),
    @PhoneNumber NVARCHAR(15) = NULL,
    @Email NVARCHAR(255),
    @Address NVARCHAR(255) = NULL,
    @State NVARCHAR(100) = NULL,
    @City NVARCHAR(100) = NULL,
    @Username NVARCHAR(50),
    @Password NVARCHAR(255),
    @ConfirmPassword NVARCHAR(255)
AS
BEGIN
    UPDATE UserRegistrations
    SET FirstName = @FirstName,
        LastName = @LastName,
        DateOfBirth = @DateOfBirth,
        Gender = @Gender,
        PhoneNumber = @PhoneNumber,
        Email = @Email,
        Address = @Address,
        State = @State,
        City = @City,
        Username = @Username,
        Password = @Password,
        ConfirmPassword = @ConfirmPassword
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateCertification]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateCertification]
    @Id INT,
    @ResumeId INT,
    @CertificationName NVARCHAR(100),
    @IssuedBy NVARCHAR(100),
    @Year NVARCHAR(10)
AS
BEGIN
    UPDATE Certification
    SET ResumeId = @ResumeId,
        CertificationName = @CertificationName,
        IssuedBy = @IssuedBy,
        Year = @Year
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateCertification2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateCertification2]
    @CertificationId INT,
    @CertificationName NVARCHAR(100),
    @IssuingOrganization NVARCHAR(100),
    @Years INT
AS
BEGIN
    UPDATE Certifications
    SET CertificationName = @CertificationName, IssuingOrganization = @IssuingOrganization, Years = @Years
    WHERE CertificationId = @CertificationId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEducation]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEducation]
    @Id INT,
    @ResumeId INT,
    @Degree NVARCHAR(100),
    @Institution NVARCHAR(100),
    @GraduationYear NVARCHAR(10)
AS
BEGIN
    UPDATE Education
    SET ResumeId = @ResumeId,
        Degree = @Degree,
        Institution = @Institution,
        GraduationYear = @GraduationYear
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEducation2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEducation2]
    @EducationId INT,
    @Degree NVARCHAR(100),
    @Major NVARCHAR(100),
    @SchoolName NVARCHAR(100),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @GraduationYear INT
AS
BEGIN
    UPDATE Educations
    SET Degree = @Degree, Major = @Major, SchoolName = @SchoolName, City = @City, State = @State, GraduationYear = @GraduationYear
    WHERE EducationId = @EducationId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateHobby2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateHobby2]
    @HobbyId INT,
    @HobbyName NVARCHAR(100)
AS
BEGIN
    UPDATE Hobbies
    SET HobbyName = @HobbyName
    WHERE HobbyId = @HobbyId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLanguage2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateLanguage2]
    @LanguageId INT,
    @LanguageName NVARCHAR(100)
AS
BEGIN
    UPDATE Languages
    SET LanguageName = @LanguageName
    WHERE LanguageId = @LanguageId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProject]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateProject]
    @Id INT,
    @ResumeId INT,
    @ProjectName NVARCHAR(100),
    @ProjectDescription NVARCHAR(MAX)
AS
BEGIN
    UPDATE Project
    SET ResumeId = @ResumeId,
        ProjectName = @ProjectName,
        ProjectDescription = @ProjectDescription
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateProject2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateProject2]
    @ProjectId INT,
    @ProjectTitle NVARCHAR(100),
    @Description NVARCHAR(MAX),
    @Role NVARCHAR(100),
    @Outcome NVARCHAR(MAX)
AS
BEGIN
    UPDATE Projects
    SET ProjectTitle = @ProjectTitle, Description = @Description, Role = @Role, Outcome = @Outcome
    WHERE ProjectId = @ProjectId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateResume]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateResume]
    @Id INT,
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @LinkedIn NVARCHAR(100),
    @GitHub NVARCHAR(100),
    @ProfessionalSummary NVARCHAR(MAX)
	
AS
BEGIN
    UPDATE Resume
    SET Name = @Name,
        Email = @Email,
        Phone = @Phone,
        LinkedIn = @LinkedIn,
        GitHub = @GitHub,
        ProfessionalSummary = @ProfessionalSummary
		
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateResume2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateResume2]
    @ResumeId INT,
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @Phone NVARCHAR(20),
    @Address NVARCHAR(255),
    @ProfessionalSummary NVARCHAR(MAX)
AS
BEGIN
    UPDATE Resumes
    SET Name = @Name, Email = @Email, Phone = @Phone, Address = @Address, ProfessionalSummary = @ProfessionalSummary
    WHERE ResumeId = @ResumeId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateSkill]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSkill]
    @Id INT,
    @ResumeId INT,
    @SkillName NVARCHAR(100)
AS
BEGIN
    UPDATE Skill
    SET ResumeId = @ResumeId,
        SkillName = @SkillName
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateSkill2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateSkill2]
    @SkillId INT,
    @SkillName NVARCHAR(100)
AS
BEGIN
    UPDATE Skills
    SET SkillName = @SkillName
    WHERE SkillId = @SkillId;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudentApplication]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStudentApplication]
    @Id INT,
    @Name NVARCHAR(100),
    @Email NVARCHAR(100),
    @PhoneNumber NVARCHAR(20),
    @Course NVARCHAR(100),
    @PhotoPath NVARCHAR(MAX) = NULL,
    @ResumePath NVARCHAR(MAX) = NULL
AS
BEGIN
    UPDATE StudentApplications
    SET Name = @Name,
        Email = @Email,
        PhoneNumber = @PhoneNumber,
        Course = @Course,
        PhotoPath = @PhotoPath,
        ResumePath = @ResumePath
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateWorkExperience]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWorkExperience]
    @Id INT,
    @ResumeId INT,
    @JobTitle NVARCHAR(100),
    @Company NVARCHAR(100),
    @Location NVARCHAR(100),
    @Years NVARCHAR(50)
AS
BEGIN
    UPDATE WorkExperience
    SET ResumeId = @ResumeId,
        JobTitle = @JobTitle,
        Company = @Company,
        Location = @Location,
        Years = @Years
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateWorkExperience2]    Script Date: 14-04-2026 22:46:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateWorkExperience2]
    @ExperienceId INT,
    @JobTitle NVARCHAR(100),
    @CompanyName NVARCHAR(100),
    @City NVARCHAR(100),
    @State NVARCHAR(100),
    @StartDate NVARCHAR(100),
    @EndDate NVARCHAR(100),
    @Responsibilities NVARCHAR(MAX)
AS
BEGIN
    UPDATE WorkExperiences
    SET JobTitle = @JobTitle, CompanyName = @CompanyName, City = @City, State = @State, StartDate = @StartDate, EndDate = @EndDate, Responsibilities = @Responsibilities
    WHERE ExperienceId = @ExperienceId;
END
GO
