@{
    ViewBag.Title = "Admin Home Page";
}
<div class="num">
    <a href="@Url.Action("Index", "SignIn")" class="btn btn-primary">Create My Resume</a>
</div>

<style>
    body {
        background-image: url("https://images.unsplash.com/photo-1698047681432-006d2449c631?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHJlc3VtZXxlbnwwfHwwfHx8MA%3D%3D");
        background-size: cover;
    }

    .num {
        text-align: center;
        margin-top: 100px;
    }

    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>
